<div class="col-md-12">
<div class="col-md-9"><h1>Forecast for <%= @forecast.location %> <small>(Latitude: <%= @forecast.latitude %> Longitude: <%= @forecast.longitude %>)</small></h1></div>
<div class="col-md-3" ng-app="created_timer">Forecast is 
  <timer start-time="<%= @forecast.created_at.to_f.round(0) * 1000 %>">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer> old.
</div>
</div>

<div class="col-md-6">
  <div class="col-md-12">
    <h2>Current Conditions <small><%= image_tag("icons/#{@currently.icon}.png", size: "48x48", alt: "#{@currently.summary}") %></small></h2>
    <ul>
      <li><%= @currently.summary %></li>
      <li>Feels Like <%= @currently.apparentTemperature.ceil %>℃</li>
      <li>Humidity: <%= @currently.humidity*100 %>%</li>
      <li>Nearest Storm: <%= @currently.nearestStormDistance %> miles</li>
      <li>Chance of <%= @currently.precipType %>: <%= @currently.precipProbability*100 %>%</li>
      <li>Visibility: <%= @currently.visibility %>Km</li>
      <li>Wind: <%= @currently.windSpeed %>Mph @ <%= @currently.windBearing %> Degrees</li>
      <li>Pressure: <%= @currently.pressure %> hPa</li>
    </ul>
  </div>

  <div class="col-md-12">
    <h2>The next 24 hours</h2>
    <% next_24_hours = @hourly.data %>
    <% next_24_hours.pop until next_24_hours.count < 25 %>
    <div class='table-responsive'>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Weather</th>
            <th>Hour</th>
            <th>Summary</th>
            <th>Temperature</th>
          </tr>
        </thead>
        <tbody>
          <% next_24_hours.each do |hour| %>
          <% time = DateTime.strptime("#{hour.time}",'%s') %>
          <tr>
            <td><%= image_tag("icons/#{hour.icon}.png", size: "24x24", alt: "#{hour.summary}") %></td>
            <td><%= time.strftime('%k:%M') %></td>
            <td><%= hour.summary %></td>
            <td><%= hour.temperature.round(0) %>℃</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="col-md-6">
  <h2>Weekly <small><%= image_tag("icons/#{@dailies.icon}.png", size: "48x48", alt: "#{@dailies.summary}") %></small></h2>
  <p><%= @dailies.summary %></p>
  <% @dailies.data.each do |daily| %>
    <div class="col-md-6 col-sm-3 col">
      <div class="col-md-12">
        <% forecastTime = DateTime.strptime("#{daily.apparentTemperatureMaxTime}",'%s') %>
        <h3>
          <% if forecastTime.today? %>
            Today
          <% else %>
            <%= forecastTime.strftime('%A') %>
          <% end %>
        <small><%= image_tag("icons/#{daily.icon}.png", size: "36x36", alt: "#{daily.summary}") %></small></h3>
      </div>
      <div class="col-md-6"><h4>Max</h4><%= daily.apparentTemperatureMax.round(0) %>℃</div>
      <div class="col-md-6"><h4>Min</h4><%= daily.apparentTemperatureMin.round(0) %>℃</div>
      <div class="col-md-12"><%= daily.summary %></div>
    </div>
  <% end %>
</div>

<script>
  angular.module('created_timer', ['timer']);
</script>